body{
    background-color: rgb(37, 37, 37);
    color: #fff;
    height: 100vh;
    position: relative;
    font-family: consolas !important;
}

:root {
    --button-bg: rgb(236, 236, 236);
    --button-border: rgb(132, 132, 132);
}

* {
    margin: 0;
    box-sizing: border-box;
}

#wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#canvas--cont {
    height: 100%;
    font-weight: bolder;
    width: 100%;
    overflow: hidden;
    align-self: center;
}

h2.title {
    font-size: 2.6rem;
    padding: .5em;
    letter-spacing: 10px;
    text-shadow: 0 5px 0px rgb(126, 126, 126);
    animation: float 1s infinite 0s;
    position: relative;
}

@keyframes float {
    0% { top: 0 }
    50% { top: -10px }
    100% { top: 0px }
}

.roomId--cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.page--cont {
    width: 100%;
    height: 100vh;
    background: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
}

.helper--cont, .ping--cont {
    background: #02020354;
    color: #fff;
    position: absolute;
    padding: 1em;
    font-size: .8rem;
    display: block;
}

.helper--cont {
    width: 35vw;
    height: fit-content;
    right: 0;
    display: none;
}

.ping--cont {
    width: fit-content;
    height: auto;
    left: 0;
    top: 0;
    display: none;
}

.room--cont .player {
    margin: 1em;
}


.profile img {
    margin-top: 8px;
    width: 4em;
    height: auto;
}

#player_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6em;
}

button {
    cursor: pointer !important;
    border: none;
    border-bottom: 4px solid var(--button-border);
    border-radius: 6px;
    background-color: var(--button-bg);
    padding: .7em 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
}

input {
    padding: .7em 1.5em;
    border-radius: 6px;
}